<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,424},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>bk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,548},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>bk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,503},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>bk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,792},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>bk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,771},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>bk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,436},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>bk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,685},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>bk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,767},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>bk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,767},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>bk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,767},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>bk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,767},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>bk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,767},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>bk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,702},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>bk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,767},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>bk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,685},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>bk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,436},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>bk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,285},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,792},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>bk_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,792},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>bk_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,341},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>bk_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,387},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>bk_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,621},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>bk_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,503},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>bk_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,586},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>haixing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{184,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,176}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>haixing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,178}}</string>
                <key>sourceSize</key>
                <string>{186,178}</string>
            </dict>
            <key>haixing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{178,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,172}}</string>
                <key>sourceSize</key>
                <string>{178,172}</string>
            </dict>
            <key>haixing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{182,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,180}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>haixing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{172,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,180}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>haixing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{172,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,178}}</string>
                <key>sourceSize</key>
                <string>{172,178}</string>
            </dict>
            <key>haixing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{180,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,182}}</string>
                <key>sourceSize</key>
                <string>{180,182}</string>
            </dict>
            <key>shuicao_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,458},{88,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,135}}</string>
                <key>sourceSize</key>
                <string>{88,135}</string>
            </dict>
            <key>shuicao_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,548},{86,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,135}}</string>
                <key>sourceSize</key>
                <string>{86,135}</string>
            </dict>
            <key>shuicao_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,370},{86,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,135}}</string>
                <key>sourceSize</key>
                <string>{86,135}</string>
            </dict>
            <key>shuicao_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,755},{86,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,135}}</string>
                <key>sourceSize</key>
                <string>{86,135}</string>
            </dict>
            <key>shuicao_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,731},{88,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,135}}</string>
                <key>sourceSize</key>
                <string>{88,135}</string>
            </dict>
            <key>shuicao_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,577},{88,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,135}}</string>
                <key>sourceSize</key>
                <string>{88,135}</string>
            </dict>
            <key>shuicao_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,577},{88,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,135}}</string>
                <key>sourceSize</key>
                <string>{88,135}</string>
            </dict>
            <key>shuicao_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,667},{86,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,135}}</string>
                <key>sourceSize</key>
                <string>{86,135}</string>
            </dict>
            <key>shuicao_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,489},{86,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,135}}</string>
                <key>sourceSize</key>
                <string>{86,135}</string>
            </dict>
            <key>shuicao_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,702},{88,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,137}}</string>
                <key>sourceSize</key>
                <string>{88,137}</string>
            </dict>
            <key>shuicao_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,755},{86,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,137}}</string>
                <key>sourceSize</key>
                <string>{86,137}</string>
            </dict>
            <key>shuicao_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,577},{88,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,137}}</string>
                <key>sourceSize</key>
                <string>{88,137}</string>
            </dict>
            <key>shuicao_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,755},{86,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,137}}</string>
                <key>sourceSize</key>
                <string>{86,137}</string>
            </dict>
            <key>shuicao_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,755},{86,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,137}}</string>
                <key>sourceSize</key>
                <string>{86,137}</string>
            </dict>
            <key>shuicao_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,667},{86,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,139}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>shuicao_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,679},{86,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,139}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>shuicao_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,350},{84,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,139}}</string>
                <key>sourceSize</key>
                <string>{84,139}</string>
            </dict>
            <key>shuicao_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,489},{86,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,141}}</string>
                <key>sourceSize</key>
                <string>{86,141}</string>
            </dict>
            <key>shuicao_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,681},{84,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,139}}</string>
                <key>sourceSize</key>
                <string>{84,139}</string>
            </dict>
            <key>shuicao_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,262},{86,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,141}}</string>
                <key>sourceSize</key>
                <string>{86,141}</string>
            </dict>
            <key>shuicao_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,679},{86,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,139}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>shuicao_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,589},{84,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,141}}</string>
                <key>sourceSize</key>
                <string>{84,141}</string>
            </dict>
            <key>shuicao_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,174},{86,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,141}}</string>
                <key>sourceSize</key>
                <string>{86,141}</string>
            </dict>
            <key>shuicao_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,591},{86,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,139}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>shuicao_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,591},{86,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,139}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>shuicao_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,489},{86,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,139}}</string>
                <key>sourceSize</key>
                <string>{86,139}</string>
            </dict>
            <key>shuicao_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,667},{86,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,137}}</string>
                <key>sourceSize</key>
                <string>{86,137}</string>
            </dict>
            <key>shuicao_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,675},{88,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,137}}</string>
                <key>sourceSize</key>
                <string>{88,137}</string>
            </dict>
            <key>shuicao_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,591},{88,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,135}}</string>
                <key>sourceSize</key>
                <string>{88,135}</string>
            </dict>
            <key>shuicao_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,176},{196,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,107}}</string>
                <key>sourceSize</key>
                <string>{196,107}</string>
            </dict>
            <key>shuicao_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,176},{196,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,107}}</string>
                <key>sourceSize</key>
                <string>{196,107}</string>
            </dict>
            <key>shuicao_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,176},{196,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,107}}</string>
                <key>sourceSize</key>
                <string>{196,107}</string>
            </dict>
            <key>shuicao_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,176},{196,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,107}}</string>
                <key>sourceSize</key>
                <string>{196,107}</string>
            </dict>
            <key>shuicao_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{196,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,107}}</string>
                <key>sourceSize</key>
                <string>{196,107}</string>
            </dict>
            <key>shuicao_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,174},{198,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,107}}</string>
                <key>sourceSize</key>
                <string>{198,107}</string>
            </dict>
            <key>shuicao_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,394},{194,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,107}}</string>
                <key>sourceSize</key>
                <string>{194,107}</string>
            </dict>
            <key>shuicao_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,174},{194,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,107}}</string>
                <key>sourceSize</key>
                <string>{194,107}</string>
            </dict>
            <key>shuicao_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,180},{192,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,105}}</string>
                <key>sourceSize</key>
                <string>{192,105}</string>
            </dict>
            <key>shuicao_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,390},{194,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,105}}</string>
                <key>sourceSize</key>
                <string>{194,105}</string>
            </dict>
            <key>shuicao_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,503},{194,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,105}}</string>
                <key>sourceSize</key>
                <string>{194,105}</string>
            </dict>
            <key>shuicao_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,283},{194,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,105}}</string>
                <key>sourceSize</key>
                <string>{194,105}</string>
            </dict>
            <key>shuicao_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,287},{194,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,105}}</string>
                <key>sourceSize</key>
                <string>{194,105}</string>
            </dict>
            <key>shuicao_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,176},{194,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,107}}</string>
                <key>sourceSize</key>
                <string>{194,107}</string>
            </dict>
            <key>shuicao_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{170,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,181}}</string>
                <key>sourceSize</key>
                <string>{170,181}</string>
            </dict>
            <key>shuicao_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{170,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,181}}</string>
                <key>sourceSize</key>
                <string>{170,181}</string>
            </dict>
            <key>shuicao_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{172,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,181}}</string>
                <key>sourceSize</key>
                <string>{172,181}</string>
            </dict>
            <key>shuicao_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{172,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,177}}</string>
                <key>sourceSize</key>
                <string>{172,177}</string>
            </dict>
            <key>shuicao_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,2},{172,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,177}}</string>
                <key>sourceSize</key>
                <string>{172,177}</string>
            </dict>
            <key>shuicao_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{172,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,177}}</string>
                <key>sourceSize</key>
                <string>{172,177}</string>
            </dict>
            <key>shuicao_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,2},{170,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,177}}</string>
                <key>sourceSize</key>
                <string>{170,177}</string>
            </dict>
            <key>shuicao_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,497},{168,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,177}}</string>
                <key>sourceSize</key>
                <string>{168,177}</string>
            </dict>
            <key>shuicao_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,676},{166,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,177}}</string>
                <key>sourceSize</key>
                <string>{166,177}</string>
            </dict>
            <key>shuicao_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,497},{166,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,177}}</string>
                <key>sourceSize</key>
                <string>{166,177}</string>
            </dict>
            <key>shuicao_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,676},{166,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,177}}</string>
                <key>sourceSize</key>
                <string>{166,177}</string>
            </dict>
            <key>shuicao_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,534},{166,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,177}}</string>
                <key>sourceSize</key>
                <string>{166,177}</string>
            </dict>
            <key>shuicao_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,355},{168,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,177}}</string>
                <key>sourceSize</key>
                <string>{168,177}</string>
            </dict>
            <key>shuicao_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,176},{168,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,177}}</string>
                <key>sourceSize</key>
                <string>{168,177}</string>
            </dict>
            <key>shuicao_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,385},{98,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,181}}</string>
                <key>sourceSize</key>
                <string>{98,181}</string>
            </dict>
            <key>shuicao_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,548},{98,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,181}}</string>
                <key>sourceSize</key>
                <string>{98,181}</string>
            </dict>
            <key>shuicao_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,285},{98,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,183}}</string>
                <key>sourceSize</key>
                <string>{98,183}</string>
            </dict>
            <key>shuicao_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,285},{100,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,183}}</string>
                <key>sourceSize</key>
                <string>{100,183}</string>
            </dict>
            <key>shuicao_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,285},{100,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,183}}</string>
                <key>sourceSize</key>
                <string>{100,183}</string>
            </dict>
            <key>shuicao_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,285},{100,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,183}}</string>
                <key>sourceSize</key>
                <string>{100,183}</string>
            </dict>
            <key>shuicao_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,285},{100,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,183}}</string>
                <key>sourceSize</key>
                <string>{100,183}</string>
            </dict>
            <key>shuicao_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,387},{100,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,181}}</string>
                <key>sourceSize</key>
                <string>{100,181}</string>
            </dict>
            <key>shuicao_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,387},{100,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,181}}</string>
                <key>sourceSize</key>
                <string>{100,181}</string>
            </dict>
            <key>shuicao_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,489},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>shuicao_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,489},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>shuicao_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,387},{100,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,181}}</string>
                <key>sourceSize</key>
                <string>{100,181}</string>
            </dict>
            <key>shuicao_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,387},{100,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,181}}</string>
                <key>sourceSize</key>
                <string>{100,181}</string>
            </dict>
            <key>shuicao_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,485},{102,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,181}}</string>
                <key>sourceSize</key>
                <string>{102,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haicaoBeike.pvr.ccz</string>
            <key>size</key>
            <string>{2008,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b210f12e1d7be99068290714baac9131:1/1$</string>
            <key>textureFileName</key>
            <string>haicaoBeike.pvr.ccz</string>
        </dict>
    </dict>
</plist>
