<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battery.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{302,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,70}}</string>
                <key>sourceSize</key>
                <string>{302,70}</string>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,376},{28,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,70}}</string>
                <key>sourceSize</key>
                <string>{28,70}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,192},{38,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,70}}</string>
                <key>sourceSize</key>
                <string>{38,70}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,657},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,70}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,928},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,705},{56,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,102}}</string>
                <key>sourceSize</key>
                <string>{56,102}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,871},{45,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,109}}</string>
                <key>sourceSize</key>
                <string>{45,109}</string>
            </dict>
            <key>cannon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,456},{102,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{102,170}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>cannon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,823},{102,154}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{102,154}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>cannon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,628},{102,154}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{102,154}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>cannon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,784},{118,142}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{118,142}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>cannon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,751},{118,142}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{118,142}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>coin11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,320},{54,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,34}}</string>
                <key>sourceSize</key>
                <string>{54,34}</string>
            </dict>
            <key>coin11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,436},{58,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,10}}</string>
                <key>sourceSize</key>
                <string>{58,10}</string>
            </dict>
            <key>coin11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,507},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>coin11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,967},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>coin11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,927},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>coin11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,927},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>coin11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,264},{54,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,34}}</string>
                <key>sourceSize</key>
                <string>{54,34}</string>
            </dict>
            <key>coin11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,376},{58,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,10}}</string>
                <key>sourceSize</key>
                <string>{58,10}</string>
            </dict>
            <key>coin11_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,448},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>coin11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,909},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>coin11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,902},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>coin11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,927},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>coin21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,322},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>coin21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1116},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>coin21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,664},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>coin21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,398},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>coin21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,566},{96,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,14}}</string>
                <key>sourceSize</key>
                <string>{96,14}</string>
            </dict>
            <key>coin21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1025},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>coin21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,246},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>coin21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1026},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>coin21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,942},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>coin21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,809},{91,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>coin21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,566},{96,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,14}}</string>
                <key>sourceSize</key>
                <string>{96,14}</string>
            </dict>
            <key>coin21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,505},{94,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,72}</string>
            </dict>
            <key>huohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,74},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>lock_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,918},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>lock_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,918},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>lock_flag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,883},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>lock_flag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>lock_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,979},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>net2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{258,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,162}}</string>
                <key>sourceSize</key>
                <string>{258,162}</string>
            </dict>
            <key>net2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,246},{260,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,157}}</string>
                <key>sourceSize</key>
                <string>{260,157}</string>
            </dict>
            <key>net2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{355,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,242}}</string>
                <key>sourceSize</key>
                <string>{355,242}</string>
            </dict>
            <key>net2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{251,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,148}}</string>
                <key>sourceSize</key>
                <string>{251,148}</string>
            </dict>
            <key>net2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,589},{213,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,127}}</string>
                <key>sourceSize</key>
                <string>{213,127}</string>
            </dict>
            <key>net2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,748},{192,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,110}}</string>
                <key>sourceSize</key>
                <string>{192,110}</string>
            </dict>
            <key>net2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,579},{170,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,104}}</string>
                <key>sourceSize</key>
                <string>{170,104}</string>
            </dict>
            <key>net2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,355},{148,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,97}}</string>
                <key>sourceSize</key>
                <string>{148,97}</string>
            </dict>
            <key>net3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,909},{148,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,145}}</string>
                <key>sourceSize</key>
                <string>{148,145}</string>
            </dict>
            <key>net3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,657},{170,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,164}}</string>
                <key>sourceSize</key>
                <string>{170,164}</string>
            </dict>
            <key>net3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,718},{192,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,189}}</string>
                <key>sourceSize</key>
                <string>{192,189}</string>
            </dict>
            <key>net3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{213,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,212}}</string>
                <key>sourceSize</key>
                <string>{213,212}</string>
            </dict>
            <key>net3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,405},{251,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,250}}</string>
                <key>sourceSize</key>
                <string>{251,250}</string>
            </dict>
            <key>net3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,351}}</string>
                <key>sourceSize</key>
                <string>{358,351}</string>
            </dict>
            <key>net3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,74},{260,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,257}}</string>
                <key>sourceSize</key>
                <string>{260,257}</string>
            </dict>
            <key>net3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,333},{259,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,254}}</string>
                <key>sourceSize</key>
                <string>{259,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>netImg_V88.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b9cf4996c5e20ec9d0937834317f90:1/1$</string>
            <key>textureFileName</key>
            <string>netImg_V88.pvr.ccz</string>
        </dict>
    </dict>
</plist>
