<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cs_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{350,0},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{0,350},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{350,350},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{0,700},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{350,700},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cs_icon.png</string>
            <key>size</key>
            <string>{700,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df1ddd2a8a657dabd89974c38180aa67:4f1f28d88a5da4bca55e1757491d1084:8542eecb51a2964a6b6d7969c2e7cedd$</string>
            <key>textureFileName</key>
            <string>cs_icon.png</string>
        </dict>
    </dict>
</plist>
