<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cs1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{480,0},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{640,0},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{160,480},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{320,480},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{480,480},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{640,480},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{160,960},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{320,960},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,480}</string>
                <key>spriteSourceSize</key>
                <string>{160,480}</string>
                <key>textureRect</key>
                <string>{{480,960},{160,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CSLL_ICON.png</string>
            <key>size</key>
            <string>{800,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b7bb32074d38b3e0817f1f1f7ccc77c:5f5c63507a9e85f28d1a16d2559ffb57:3872f4b2d783fc5a4537a270edf52449$</string>
            <key>textureFileName</key>
            <string>CSLL_ICON.png</string>
        </dict>
    </dict>
</plist>
