<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,36}</string>
                <key>spriteSourceSize</key>
                <string>{260,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{260,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>8_1.pvr.ccz</string>
            <key>size</key>
            <string>{260,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fb2b57c94011c226c153b0172348bcc:2c89d33f18e74aba0bc118fa23297c30:c7022635d582e91c80c7cf7dcfe081ec$</string>
            <key>textureFileName</key>
            <string>8_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
