<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,40}</string>
                <key>spriteSourceSize</key>
                <string>{544,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{544,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_yellow.pvr.ccz</string>
            <key>size</key>
            <string>{544,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c36e8cbbfc5e7eb658d7b9c7dd62d3f8:150f98cf7c805f36b173d422d6c71817:5226e4332dfcb8df9446c9980397cd29$</string>
            <key>textureFileName</key>
            <string>atlas_yellow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
