<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas_he.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,38}</string>
                <key>spriteSourceSize</key>
                <string>{544,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{544,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_he.pvr.ccz</string>
            <key>size</key>
            <string>{544,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f535a70291483f45659ca25d1ba7769d:ce40b7a7d5d081720cba8ab6540912f3:6e35dc65bfc0aa9ca7d03bc15a5eb104$</string>
            <key>textureFileName</key>
            <string>atlas_he.pvr.ccz</string>
        </dict>
    </dict>
</plist>
