<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>0c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,388},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,388},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,906},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,777},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,648},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,519},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,390},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,292},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,292},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,292},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,777},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,648},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,519},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,292},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,390},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,906},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,777},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,648},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,519},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,292},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,390},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,261},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,196},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,196},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,196},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,132},{94,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,128}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,196},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,196},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,132},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,100},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,100},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,100},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,100},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,100},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,907},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,778},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,649},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,520},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{94,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,128}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>4e.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,391},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
            <key>4f.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,262},{94,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,127}}</string>
                <key>sourceSize</key>
                <string>{94,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ef097fb451a59a6991279d2890cc47d:1/1$</string>
            <key>textureFileName</key>
            <string>cards.pvr.ccz</string>
        </dict>
    </dict>
</plist>
