<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brxjFont.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,37}</string>
                <key>spriteSourceSize</key>
                <string>{290,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{290,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>brxjFont.pvr.ccz</string>
            <key>size</key>
            <string>{290,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2740402da5be7b9ba117824e5f1c01e:df0687902b0866ddc9fe7202df07a76d:86c173704692efe38f405221442bb940$</string>
            <key>textureFileName</key>
            <string>brxjFont.pvr.ccz</string>
        </dict>
    </dict>
</plist>
