<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{0,0},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{131,0},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{262,0},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{393,0},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{524,0},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{655,0},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{0,440},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{131,440},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{262,440},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{393,440},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{524,440},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,440}</string>
                <key>spriteSourceSize</key>
                <string>{131,440}</string>
                <key>textureRect</key>
                <string>{{655,440},{131,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JSXS_ICON.png</string>
            <key>size</key>
            <string>{786,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:374b1eb1840fa88207709c414f5698b4:084ddc5fced05b110d001f8cac61afdd:e1d5592a4af0755a84c1b2b650d3e00c$</string>
            <key>textureFileName</key>
            <string>JSXS_ICON.png</string>
        </dict>
    </dict>
</plist>
