<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{318,84}</string>
                <key>spriteSourceSize</key>
                <string>{338,86}</string>
                <key>textureRect</key>
                <string>{{262,598},{318,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{803,871},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,70}</string>
                <key>spriteSourceSize</key>
                <string>{38,70}</string>
                <key>textureRect</key>
                <string>{{943,655},{38,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,70}</string>
                <key>spriteSourceSize</key>
                <string>{46,70}</string>
                <key>textureRect</key>
                <string>{{940,583},{46,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,86}</string>
                <key>spriteSourceSize</key>
                <string>{52,86}</string>
                <key>textureRect</key>
                <string>{{906,783},{52,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,102}</string>
                <key>spriteSourceSize</key>
                <string>{56,102}</string>
                <key>textureRect</key>
                <string>{{876,367},{56,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,109}</string>
                <key>spriteSourceSize</key>
                <string>{45,109}</string>
                <key>textureRect</key>
                <string>{{498,953},{45,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{55,126}</string>
                <key>spriteSourceSize</key>
                <string>{191,130}</string>
                <key>textureRect</key>
                <string>{{692,716},{55,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{55,126}</string>
                <key>spriteSourceSize</key>
                <string>{191,130}</string>
                <key>textureRect</key>
                <string>{{692,716},{55,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{177,124}</string>
                <key>spriteSourceSize</key>
                <string>{191,130}</string>
                <key>textureRect</key>
                <string>{{573,419},{177,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{148,174}</string>
                <key>spriteSourceSize</key>
                <string>{174,178}</string>
                <key>textureRect</key>
                <string>{{542,633},{148,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{148,174}</string>
                <key>spriteSourceSize</key>
                <string>{174,178}</string>
                <key>textureRect</key>
                <string>{{563,809},{148,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{833,928},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,10}</string>
                <key>spriteSourceSize</key>
                <string>{58,10}</string>
                <key>textureRect</key>
                <string>{{327,1052},{58,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{267,1005},{57,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin11_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,46}</string>
                <key>textureRect</key>
                <string>{{820,1016},{56,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{913,727},{54,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin11_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{820,964},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{211,1018},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,10}</string>
                <key>spriteSourceSize</key>
                <string>{58,10}</string>
                <key>textureRect</key>
                <string>{{387,1052},{58,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{297,1005},{57,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin11_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,46}</string>
                <key>textureRect</key>
                <string>{{878,1016},{56,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{833,870},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin11_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{876,964},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,74}</string>
                <key>spriteSourceSize</key>
                <string>{92,74}</string>
                <key>textureRect</key>
                <string>{{545,985},{92,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{713,773},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,82}</string>
                <key>textureRect</key>
                <string>{{849,583},{89,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,56}</string>
                <key>spriteSourceSize</key>
                <string>{92,56}</string>
                <key>textureRect</key>
                <string>{{849,667},{92,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,14}</string>
                <key>spriteSourceSize</key>
                <string>{96,14}</string>
                <key>textureRect</key>
                <string>{{573,598},{96,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,44}</string>
                <key>spriteSourceSize</key>
                <string>{90,44}</string>
                <key>textureRect</key>
                <string>{{1,1018},{90,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,74}</string>
                <key>spriteSourceSize</key>
                <string>{92,74}</string>
                <key>textureRect</key>
                <string>{{639,985},{92,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{713,863},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,82}</string>
                <key>textureRect</key>
                <string>{{871,425},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,56}</string>
                <key>spriteSourceSize</key>
                <string>{91,56}</string>
                <key>textureRect</key>
                <string>{{820,725},{91,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin21_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,14}</string>
                <key>spriteSourceSize</key>
                <string>{96,14}</string>
                <key>textureRect</key>
                <string>{{803,773},{96,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin21_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,72}</string>
                <key>spriteSourceSize</key>
                <string>{94,72}</string>
                <key>textureRect</key>
                <string>{{871,509},{94,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huohua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,41}</string>
                <key>spriteSourceSize</key>
                <string>{116,41}</string>
                <key>textureRect</key>
                <string>{{93,1018},{116,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_flag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{261,918},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_flag_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{733,953},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_flag_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{819,783},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_flag_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{889,871},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{936,958},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,162}</string>
                <key>spriteSourceSize</key>
                <string>{258,162}</string>
                <key>textureRect</key>
                <string>{{1,854},{258,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,157}</string>
                <key>spriteSourceSize</key>
                <string>{260,157}</string>
                <key>textureRect</key>
                <string>{{361,260},{260,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,242}</string>
                <key>spriteSourceSize</key>
                <string>{355,242}</string>
                <key>textureRect</key>
                <string>{{1,354},{355,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,148}</string>
                <key>spriteSourceSize</key>
                <string>{251,148}</string>
                <key>textureRect</key>
                <string>{{623,253},{251,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,127}</string>
                <key>spriteSourceSize</key>
                <string>{213,127}</string>
                <key>textureRect</key>
                <string>{{348,824},{213,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,110}</string>
                <key>spriteSourceSize</key>
                <string>{192,110}</string>
                <key>textureRect</key>
                <string>{{876,1},{192,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,104}</string>
                <key>spriteSourceSize</key>
                <string>{170,104}</string>
                <key>textureRect</key>
                <string>{{876,195},{170,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,97}</string>
                <key>spriteSourceSize</key>
                <string>{148,97}</string>
                <key>textureRect</key>
                <string>{{348,953},{148,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,145}</string>
                <key>spriteSourceSize</key>
                <string>{148,145}</string>
                <key>textureRect</key>
                <string>{{699,569},{148,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,164}</string>
                <key>textureRect</key>
                <string>{{699,403},{170,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,189}</string>
                <key>spriteSourceSize</key>
                <string>{192,189}</string>
                <key>textureRect</key>
                <string>{{348,633},{192,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,212}</string>
                <key>spriteSourceSize</key>
                <string>{213,212}</string>
                <key>textureRect</key>
                <string>{{358,419},{213,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,250}</string>
                <key>spriteSourceSize</key>
                <string>{251,250}</string>
                <key>textureRect</key>
                <string>{{623,1},{251,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,351}</string>
                <key>spriteSourceSize</key>
                <string>{358,351}</string>
                <key>textureRect</key>
                <string>{{1,1},{358,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,257}</string>
                <key>spriteSourceSize</key>
                <string>{260,257}</string>
                <key>textureRect</key>
                <string>{{361,1},{260,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,254}</string>
                <key>spriteSourceSize</key>
                <string>{259,254}</string>
                <key>textureRect</key>
                <string>{{1,598},{259,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>netImg.pvr.ccz</string>
            <key>size</key>
            <string>{987,1063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e6ed99ef3b45f50e0db4e74d58d8d27:71697c2361e413b9b9d10a1a50ef1467:a27a5bf78092b75129ee6c0d84eb17ec$</string>
            <key>textureFileName</key>
            <string>netImg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
